h1 {
    color:rgb(204, 177, 188);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 42px;
    
}

body {
    background-image: url("velvet.jpg");
    background-size: 100%;
}