h1 {
    color:rgb(204, 177, 188);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 42px;
    
}

body {
    background-image: url("velvet.jpg");
    background-size: 100%;
}

a {
    color:crimson;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: relative;
    left: 100px;
    top: 150px;
}
